a {
  text-decoration: none;
}

.health {
  content:url(http://i.imgur.com/SnALT8M.png);
}

.actions {
  content:url(http://i.imgur.com/H1xMYZT.png);
}

.spells {
  content:url(http://i.imgur.com/ikxr2EA.png);
}

.inventory {
  content:url(http://i.imgur.com/GID4gkj.png);
}

.Basic_Mime {
  content:url(http://i.imgur.com/Sjpy4fT.png)
}

.Blue_Mime {
  content:url(http://i.imgur.com/DhWbZmZ.png)
}

.Red_Mime {
  content:url(http://i.imgur.com/hJN1fvP.png)
}

.Cowboy_Mime {
  content:url(http://i.imgur.com/KU3YQUT.png)
}

.Dinosaur_Mime{
  content:url(http://i.imgur.com/8GHaku7.png)
}

.Disguise_Mime{
  content:url(http://i.imgur.com/0ZhH4tb.png)
}

.Talking_Mime {
  content:url(http://i.imgur.com/aOsYHVT.png)
}





.gun{
  position:relative;
  left: 300px;
  top: 500px;
}

.riddle{
  cursor:pointer;
  top:200;
  left:200;
}

body {
  background-color: #1d2559;
  background-image: url("../assets/gui/paper_background.png");
}
/*
.loginTitle {
  color: white;
}*/

.sciRiddle {
  content:url(https://image.freepik.com/free-icon/question-mark_318-52837.jpg);
  width:50px;
  height:50px;
}

#log {
  height: 500px;
  width: 700px;
  overflow-y: auto;
  border: 3px solid black;
  border-radius: 15px;
  padding: 8px;
  font-size: 20px;
  font-family: 'Raleway';
 /* display: inline-block;*/
  background-image: url('../assets/gui/wood_background.png');
  float: left;
  size: 40%;

}

#map {
  float:left;
  height: 800px;
  width: 800px;
  padding: 10px;
  overflow: hidden;
  position:absolute;
  border: 3px solid black;
  border-radius: 20px;
  margin-left: 20px

}

.invItem {
  font-size: 20px;
}

.inv {
  float:right;
  left:900px;
  height: 200px;
  width: 800px;
  overflow-y: auto;
  position:absolute;
  border: 3px solid black;
  border-radius: 50px 15px;
  font-family: 'Raleway', sans-serif;
  background-image: url('../assets/gui/wood_background.png');
<<<<<<< HEAD
  color: white;
=======
  color: #bda724;
>>>>>>> 60ba68c42f241cef92ef595f5b9ded598712401f
  font-weight: bold;
  font-size: 20px;
  text-shadow: -0.02em -0.03em 0.005em rgba(0, 0, 0, 0.90);
  padding: 20px;
  margin-left: -50px
}

.story {
  float:right;
  top:500px;
  left:900px;
  height: 372px;
  width: 800px;
  overflow-y: auto;
  position:absolute;
  border: 3px solid black;
  border-radius: 50px 15px;
  font-family: 'Raleway', sans-serif;
  background-image: url('../assets/gui/wood_background.png');
<<<<<<< HEAD
  color: white;
=======
  color: #bda724;
>>>>>>> 60ba68c42f241cef92ef595f5b9ded598712401f
  font-weight: bold;
  font-size: 20px;
  text-shadow: -0.02em -0.03em 0.005em rgba(0, 0, 0, 0.90);
  padding:20px;
  margin-left: -50px;
}

.mapStats {
  float:right;
  top:285px;
  left:900px;
  height: 200px;
  width: 800px;
  overflow-y: auto;
  position:absolute;
  border: 3px solid black;
  border-radius: 50px 15px;
  font-family: 'Raleway', sans-serif;
  background-image: url('../assets/gui/wood_background.png');
<<<<<<< HEAD
  color: white;
=======
  color: #bda724;
>>>>>>> 60ba68c42f241cef92ef595f5b9ded598712401f
  font-weight: bold;
  font-size: 20px;
  text-shadow: -0.02em -0.03em 0.005em rgba(0, 0, 0, 0.90);
  padding:20px;
  margin-left: -50px;
}

.heroDeathModal {
  font-family: 'Raleway', sans-serif;
  background-image: url('../assets/gui/wood_background.png');
<<<<<<< HEAD
  color: white;
=======
  color: #bda724;
>>>>>>> 60ba68c42f241cef92ef595f5b9ded598712401f
  font-weight: bold;
  font-size: 20px;
  text-shadow: -0.02em -0.03em 0.005em rgba(0, 0, 0, 0.90);
}


#north {
  border: none !important;
  position:absolute;
  left:325px;
}

#east {
  position:absolute;
  top:325px;
  left:650px;
}

#south {
  position:absolute;
  top:650px;
  left :325px;
}

#background {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  opacity: 0.9;
  z-index:-1;
}

#west {
  position:absolute;
  top:325px;
}


#outLog {
  overflow:hidden;
}

.logMessage {
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #DDD;
  margin-bottom: 1px;
  vertical-align: middle;
  padding-left: 8px;
  font-family: 'Raleway';
  font-size: 21px
}

.logMessage {
  padding-top: 2px;
}

.healthBar {
  position: relative;
  background: #777;
  width: 300px;
  display: block;
  margin: 2px;
  color:white;
  text-align: center;
  vertical-align: middle;
  box-shadow: inset -2px 2px 5px 0px rgba(0,0,0,0.75);
}

.healthPercent {
  position: absolute;
  width: inherit;
  height: inherit;
  vertical-align: middle;
  text-align: middle;
  top: 3px;
  left: 0;
}

#magics, #items {
  position: absolute;
  top: -0px;
  left: 70px;
  padding : 5px;
  width: 100px;
  height: 100px;
  background-color: #B5651D;
  border: 1px solid black;
  display: none;
}

.actionsContainer {
  margin: 15px;
  margin-left: -10px;
  background-image: url('../assets/gui/wood_background.png');
  background-color: #999;
  height: 250px;
  width: 600px;
  font-size: 22px;
  color: white;
  font-family: 'Raleway';
  border: black solid 3px;

}
.actionGroup, .battleInventory {
  margin: 2px 6px 6px 12px;
  display: inline-block;
  float: left;
  width: 100px;
  height:120px;
  cursor: pointer;
  color: white;
  
}

.battleInventory {
  width: 150px;
  margin-left: -10px;
}

.actionGroupHeader {
  background-color: #999;
  cursor: default;
  font-size:26px;
}

.statTitle {
  width: 140px;
  height: 20px;
  font-weight: bold;
  display: inline-block
}

.allocation {
  width: 52px;
  text-align: center;
}

.allocationHeader {
  width: 230px;
  background-color: #999;
}

.formTitle {
  width: 140px;
  height: 20px;
  text-align: left;
  font-weight: bold;
  display: inline-block
}

.creationEntry {
  width: 230px;
}

.stats {
  width: 230px;
  border: 1px solid #999;
  padding-bottom: 5px;
  background-color: #DDD;
}

.noSelect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none
}

.pointer {
  cursor: pointer;
}

.formContainer {
  background-color: #DDD;
}

.rawr {
  position: relative;
  left: 300px;
  top: 100px;
}

.thriller {
  position: relative;
  left: 10px;
  top: 20px;
}

.pew {
  position: relative;
  top: 500px;
  left: 100px;
}

.bang {
  position: relative;
  top: 440px;
  left: 200px;
}

.flappy {
  position: relative;
  left: 500px;
  top:100px;
}

.trice {
  position: relative;
  top:100px;
}


.monster {
  position: relative;
  left: 300px;
  top:100px;
}

.dragon {
  position: relative;
  left: 310px;
  bottom: -90px;
  width: 100px;
}

.archer {
  position: relative;
  left: 230px;
  bottom:173px;
}

.knights {
  position: relative;
  top: 150px;
  left: 50px;
}

.spaceship {
  position: relative;
  left: 600px;
  top:40px;
}

.clippy {
  position: relative;
  left: 200px;
  top: 100px;
}

.wiz {
  position: relative;
  left: 200px;
}

.castle {
  position: relative;
  left: 100px;
  top: 50px;
}

.spaceship4 {
  position: relative;
  size:10px;
  left: 400px;
}

.caveFight {
  position: relative;
  top: 500px;
  left: 250px;
}

.heroName {
<<<<<<< HEAD
  color: white;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 25px;
  color:white;
=======
  color: #bda724;
  font-family: 'Zapf Chancery';
  font-weight: bold;
  font-size: 25px;
  color:#bda724;
>>>>>>> 60ba68c42f241cef92ef595f5b9ded598712401f
  text-shadow: -0.02em -0.03em 0.005em rgba(0, 0, 0, 0.90);
}

.inputContainer {
  width: 120px;
}

.inputContainer2 {
  width: 80px;
  padding-left: 74px;
}

.createInput {
<<<<<<< HEAD
  font-family: 'Raleway';
  font-weight: bold;
  padding-top: 10px;
  color: white;
=======
  font-family: 'Zapf Chancery';
  font-weight: bold;
  padding-top: 10px;
  color: #bda724;
>>>>>>> 60ba68c42f241cef92ef595f5b9ded598712401f
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 2px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.minButton, .plusButton, .number, .nameInput, .leftBorder {
  background-image: url('../assets/gui/RPG_GUI_v1.png');
  background-repeat: no-repeat;
}

.minButton {
  height: 30px;
  width: 30px;
  background-position: -325px -120px;
}

.plusButton {
  height: 30px;
  width: 30px;
  background-position: -365px -120px;
}

.number {
  padding-top: 10px;
<<<<<<< HEAD
  color: white;
=======
  color: #bda724;
>>>>>>> 60ba68c42f241cef92ef595f5b9ded598712401f
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  background-position: -40px -490px;
}

.nameInput {
  color: #ffe44d;
  font-weight: bold;
<<<<<<< HEAD
  font-family: 'Raleway';
=======
  font-family: 'Zapf Chancery';
>>>>>>> 60ba68c42f241cef92ef595f5b9ded598712401f
  font-size: 20px;
  background:transparent;
  background-position: -40px -490px;
}

.nameBorder {
  padding: 5px 14px;
  background-image: url('../assets/gui/nameBorder.png');
  background-repeat: no-repeat;
  background-position: -170px -224px;
}

.formBorder {
  width: 1000px;
  height: 750px;
  margin-left: 230px;
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 25px;
  background-image: url('../assets/gui/formBorder.png');
  background-repeat: no-repeat;
  background-position: 40px -30px;
}

.formColumn1, .formColumn2 {
  width: 450px;
  display: inline-block;
  float: left;
  background: transparent;
  margin-left: 50px;
}

.formColumn2 {
  margin-top: 42px;
  margin-left: 30px;
}

.createButton {
  padding:12px;
  font-weight: bold;
  background-image: url('../assets/gui/buttonBorder.png');
  background-repeat: no-repeat;
  font-family: 'Zapf Chancery';
  font-weight: bold;
  color: #bda724;
  font-size: 20px;
}

.hiddenButton {
  opacity: 0px;
  background-color: rgba(0, 0, 0, 0)
}

.table {
  border: 3px solid black;
  width: 450px;
  font-family:'Raleway';
  font-size:24px;

}

.bootstrapTable {
  margin-left: 50px;
}

.leaderBoard {
  margin-left: 50px;
  margin-top: 30px;
  position: absolute;
}

.search {
  margin-left: 970px;
  margin-top: 20px;
  font-size:24px;

}

.tableRow {
  background-color: #8c8c8c;
}

.header {
  background-color:#8c8c8c;
}

.startMap {

  color: #ffe44d;
  font-family: 'Zapf Chancery';

  font-weight: bold;
  font-size: 25px;
  /*background: linear-gradient(#FFF65C 0%, #9A8000 100%);*/
  text-shadow: -0.02em -0.03em 0.005em rgba(255, 223, 0, 0.70);
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/

}

.heroStats {

font-size:30px;
font-family: 'Raleway';
color: white;
font-weight: bold;
}




.landingPage {
  background-image: url('http://www.alexpberg.com/wp-content/uploads/2013/10/Sci-Fi-vs-Fantasy.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
height: 550px;

background-position: 0 58px

}

.instructions {
  /* display: inline-block;*/
   position: static;
   float: right;
   font-family: "Raleway";
   font-size: 20px;
   color: white;
/*   font-weight: 200;*/
   width:40%;
   margin-right: 50px;
   margin-top: 50px;
   border: black solid 3px;
   border-radius: 20px;
   background-image: url('../assets/gui/wood_background.png');
   padding: 10px;

}

.fightLog2 {

float:left;
width: 48%;
margin-left: 40px;

}

.battleInstructions {
  font-size: 28px;
  font-family: helvetica;
  font-weight: bold;

}

.instructionTitles {
  font-family: helvetica;
  font-size: 22px;
  font-weight: bold;
}

.fightingEnemy {
  font-family: helvetica;
  font-size: 26px;
  font-weight: bold;

}

.mapLink {
  font-family: helvetica;
  font-size: 22px;
  font-weight: bold;

}

.storylineInvTitle {
  font-family: helvetica;
  font-size: 26px;
  color: yellow;
}







