a {
  text-decoration: none;
}

.health {
  content:url(http://i.imgur.com/SnALT8M.png);
}

.actions {
  content:url(http://i.imgur.com/H1xMYZT.png);
}

.spells {
  content:url(http://i.imgur.com/ikxr2EA.png);
}

.inventory {
  content:url(http://i.imgur.com/GID4gkj.png);
}

.goblin {
  content:url(http://i.imgur.com/CxvW6T4.png)
}

.gun{
  position:relative;
  left: 300px;
  top: 500px;
}

.riddle{
  cursor:pointer;
}

body {
  background-color: #1d2559;
  background-image: url("../assets/gui/paper_background.png");
}
/*
.loginTitle {
  color: white;
}*/

.sciRiddle {
  content:url(https://image.freepik.com/free-icon/question-mark_318-52837.jpg);
  width:50px;
  height:50px;
}

#log {
  height: 400px;
  width: 500px;
  overflow-y: auto;
  border: 3px solid black;
  padding: 8px;
  font-size: 16px;
  font-family: helvetica;
  margin-left: 20px;
}

#map {
  float:left;
  height: 800px;
  width: 800px;
  padding: 10px;
  overflow: hidden;
  position:absolute;
  border: 3px solid black;
  border-radius: 20px;
  margin-left: 20px

}


.inv {
  float:right;
  left:900px;
  height: 200px;
  width: 800px;
  overflow-y: auto;
  position:absolute;
  border: 3px solid black;
  border-radius: 15px 50px;
  font-family: 'Zapf Chancery', sans-serif;
  background-image: url('../assets/gui/wood_background.png');
  color: gold;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  text-shadow: -0.02em -0.03em 0.005em rgba(0, 0, 0, 0.90);
  padding: 20px;
  margin-left: -50px
}

.invItem {
  font-size: 20px;
}

.story {
  float:right;
  top:500px;
  left:900px;
  height: 400px;
  width: 800px;
  overflow-y: auto;
  position:absolute;
  border: 3px solid black;
  border-radius: 50px 15px;
  font-family: 'Zapf Chancery', sans-serif;
  background-image: url('../assets/gui/wood_background.png');
  color: gold;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  text-shadow: -0.02em -0.03em 0.005em rgba(0, 0, 0, 0.90);
  padding:20px;
  margin-left: -50px;
}

#north {
  border: none !important;
  position:absolute;
  left:325px;
}

#east {
  position:absolute;
  top:325px;
  left:650px;
}

#south {
  position:absolute;
  top:650px;
  left :325px;
}

#background {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  opacity: 0.9;
  z-index:-1;
}

#west {
  position:absolute;
  top:325px;
}


#outLog {
  overflow:hidden;
}

.logMessage {
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #DDD;
  margin-bottom: 1px;
  vertical-align: middle;
  padding-left: 8px;
  font-family: 'Zapf Chancery';
  font-size: 
}

.logMessage {
  padding-top: 2px;
}

.healthBar {
  position: relative;
  background: #777;
  width: 300px;
  display: block;
  margin: 2px;
  color:white;
  text-align: center;
  vertical-align: middle;
  box-shadow: inset -2px 2px 5px 0px rgba(0,0,0,0.75);
}

.healthPercent {
  position: absolute;
  width: inherit;
  height: inherit;
  vertical-align: middle;
  text-align: middle;
  top: 3px;
  left: 0;
}

#magics, #items {
  position: absolute;
  top: -0px;
  left: 70px;
  padding : 5px;
  width: 100px;
  height: 100px;
  background-color: #B5651D;
  border: 1px solid black;
  display: none;
}

.actionsContainer {
  margin: 5px;
  height: 100px;
  width: 400px;
}
.actionGroup, .battleInventory {
  margin: 0px 0px 0px 2px;
  display: inline-block;
  float: left;
  width: 60px;
  height: 100px;
  cursor: pointer;
}

.battleInventory {
  width: 200px;
}

.actionGroupHeader {
  background-color: #999;
  cursor: default;
}

.statTitle {
  width: 140px;
  height: 20px;
  font-weight: bold;
  display: inline-block
}

.allocation {
  width: 52px;
  text-align: center;
}

.allocationHeader {
  width: 230px;
  background-color: #999;
}

.formTitle {
  width: 140px;
  height: 20px;
  text-align: left;
  font-weight: bold;
  display: inline-block
}

.creationEntry {
  width: 230px;
}

.stats {
  width: 230px;
  border: 1px solid #999;
  padding-bottom: 5px;
  background-color: #DDD;
}

.noSelect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none
}

.formContainer {
  background-color: #DDD;
}

.rawr {
  position: relative;
  left: 300px;
  top: 100px;
}

.thriller {
  position: relative;
  left: 10px;
  top: 20px;
}

.pew {
  position: relative;
  top: 550px;
  left: 100px;
}

.bang {
  position: relative;
  top: 440px;
  left: 200px;
}

.flappy {
  position: relative;
  left: 500px;
  top:100px;
}

.trice {
  position: relative;
  top:100px;
}


.monster {
  position: relative;
  left: 300px;
  top:100px;
}

.dragon {
  position: relative;
  left: 350px;
  bottom: -80px;
  width: 100px;
}

.archer {
  position: relative;
  left: 230px;
  bottom:173px;
}

.knights {
  position: relative;
  top: 150px;
  left: 50px;
}

.spaceship {
  position: relative;
  left: 600px;
  top:40px;
}

.clippy {
  position: relative;
  left: 200px;
  top: 200px;
}

.spaceship4 {
  position: relative;
  size:10px;
  left: 400px;
}

.caveFight {
  position: relative;
  top: 500px;
  left: 250px;
}

.heroName {
  color: gold;
  font-family: 'Zapf Chancery';
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  color:gold;
  text-shadow: -0.02em -0.03em 0.005em rgba(0, 0, 0, 0.90);
}

.inputContainer {
  width: 120px;
}

.inputContainer2 {
  width: 80px;
  padding-left: 74px;
}

.createInput {
  font-family: 'Zapf Chancery';
  font-style: italic;
  font-weight: bold;
  padding-top: 10px;
  color: gold;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 2px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.minButton, .plusButton, .number, .nameInput, .leftBorder {
  background-image: url('../assets/gui/RPG_GUI_v1.png');
  background-repeat: no-repeat;
}

.minButton {
  height: 30px;
  width: 30px;
  background-position: -325px -120px;
}

.plusButton {
  height: 30px;
  width: 30px;
  background-position: -365px -120px;
}

.number {
  padding-top: 10px;
  color: gold;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  background-position: -40px -490px;
}

.nameInput {
  color: #ffe44d;
  font-weight: bold;
  font-family: 'Zapf Chancery';
  font-style: italic;
  font-size: 20px;
  background:transparent;
  background-position: -40px -490px;
}

.nameBorder {
  padding: 5px 14px;
  background-image: url('../assets/gui/nameBorder.png');
  background-repeat: no-repeat;
  background-position: -170px -224px;
}

.formBorder {
  width: 1000px;
  height: 750px;
  margin-left: 230px;
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 25px;
  background-image: url('../assets/gui/formBorder.png');
  background-repeat: no-repeat;
  background-position: 40px -30px;
}

.formColumn1, .formColumn2 {
  width: 450px;
  display: inline-block;
  float: left;
  background: transparent;
  margin-left: 50px;
}

.formColumn2 {
  margin-top: 42px;
  margin-left: 30px;
}

.createButton {
  margin-top: 30px;
}

.table {
  border: 3px solid black;
  width: 450px;
  font-family:'Zapf Chancery';
  font-size:24px;

}

.bootstrapTable {
  margin-left: 50px;
}

.leaderBoard {
  margin-left: 50px;
  margin-top: 30px;
  position: absolute;
}

.search {
  margin-left: 970px;
  margin-top: 20px;
  font-size:24px;

}

.tableRow {
  background-color: #8c8c8c;
}

.header {
  background-color:#8c8c8c;
}

.startMap {
  color: #ffe44d;
  font-family: 'Zapf Chancery';
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  /*background: linear-gradient(#FFF65C 0%, #9A8000 100%);*/
  text-shadow: -0.02em -0.03em 0.005em rgba(255, 223, 0, 0.70);
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/

}

.heroStats {
font-size:30px;
font-family: 'Zapf Chancery';
color: #ffdd1a;
font-weight: bold;

}