#log {
  height: 100px;
  width: 300px;
  overflow-y: auto;
  border: 3px solid black;
  padding: 8px;
  font-size: 14px;
}

#outLog {
  overflow:hidden;
}

#items {
  position: absolute;
  top: 1;
  left: 0;
  margin: 50px 50px 50px 50px;
  padding : 3px;
  width: 100px;
  height: 100px;
  background-color: green;
  border: 1px solid black;
  z-index: 1;
  display: none;
}

.logMessage {
  padding-top: 2px;
}

.healthBar {
  position: relative;
  background: #CCC;
  width: 200px;
  height: 25px;
  display: block;
  margin: 2px;
  text-align: center;
  vertical-align: middle;
}

.bar {
  background:green;
  height:inherit;
}

.healthPercent {
  position: absolute;
  width: inherit;
  height: inherit;
  vertical-align: middle;
  text-align: middle;
  top: 0;
  left: 0;
}

#magics {
  position: absolute;
  top: 1;
  left: 0;
  margin: 50px 50px 50px 50px;
  padding : 3px;
  width: 100px;
  height: 100px;
  background-color: green;
  border: 1px solid black;
  z-index: 1;
  display: none;
}

.createInput {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.statTitle {
  width: 140px;
  height: 20px;
  margin: 2px;
  padding-left: 8px;
  font-weight: bold;
  display: inline-block
}

.allocation {
  width: 52px;
  text-align: center;
}

.allocationHeader {
  width: 230px;
  background-color: #999;
}

.creationEntry {
  width: 230px;
}

.stats {
  width: 230px;
  border: 1px solid #999;
  padding-bottom: 5px;
  background-color: #DDD;
}

.noSelect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none
}